<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- S-008: nur fuer den Mikrofon-Test, abgefragt erst dort -->
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
